/* init */
html,
body,ul,li {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: sans-serif;
    background: #000;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    position: absolute;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

li {
    display: inline;
    list-style-type: none;
}

/* header */
header .topNavBar {
    padding: 20px 16px;
}

header .topNavBar .logo span:nth-child(1) {
    color: #e6686a;
    font-size: 24px;
    margin-right:6px;
    font-weight: bold;
}

header .topNavBar .logo span:nth-child(2) {
    color: #9a9da2;
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    font-size: 12px;
    margin: 0 17px;
    color: #b7b7b7;
    padding: 7px 0;
}

header nav a:hover  {
    border-bottom: 3px solid #e06567;
}